@using BlazorAppExcel.Models
@inject Blazored.LocalStorage.ILocalStorageService localStore

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorAppExcel</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="excel">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Excel
            </NavLink>
        </div>
        @foreach (var table in user.Tables)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href=@($"app/{@table.Key}")>
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @table.Value.Name
                </NavLink>
            </div>
        }

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse1" : null;

    private User user = new User();

    protected override async Task OnInitializedAsync()
    {
        user = await localStore.GetItemAsync<User>("user")??new User();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
