@using BlazorAppExcel.Components
@using BlazorAppExcel.Models
@using NPOI.HSSF.UserModel
@using NPOI.SS.UserModel
@using NPOI.XSSF.UserModel
@using System.Data
@using BlazorAppExcel.Components.atomic

@page "/design/upload"

<h3>Import Excel</h3>
@if (loading)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" b/>
}

@if (ds.Count()==0)
{
    <FileUpload OnChange="(e)=> ImportFileExcel(e)"></FileUpload>
}
else
{
    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" aria-label="back" OnClick="@clean"></MudIconButton>
}
<TabExcel ds=@ds></TabExcel>

@code {
    bool loading = false;

    IList<TableExcel> ds = new List<TableExcel>();

    void clean()
    {
        ds = new List<TableExcel>();
    }

    async Task ImportFileExcel(InputFileChangeEventArgs e)
    {
        loading = true;

        ds = await Util.getDataSetAsync(e);
        loading = false;

        this.StateHasChanged();
    }
}
