@using BlazorAppExcel.Components
@using BlazorAppExcel.Models
@using NPOI.HSSF.UserModel
@using NPOI.SS.UserModel
@using NPOI.XSSF.UserModel
@using System.Data

@page "/design/upload"

<h3>Import Excel</h3>

@if (loading)
{
    @* <ProgressCircular Color="Color.Default" Indeterminate="true" b/> *@
    <Preload LoadingText="Loading..." />
}

@if (ds.Count()==0)
{
    <InputFile OnChange="(e)=> ImportFileExcel(e)"></InputFile>

}
else
{
    <Button OnClick="@clean"></Button>
}
<TabExcel sheetsToSave=@ds></TabExcel>

@code {
    bool loading = false;

    IList<TableExcel> ds = new List<TableExcel>();

    void clean()
    {
        ds = new List<TableExcel>();
    }

    async Task ImportFileExcel(InputFileChangeEventArgs e)
    {
        loading = true;

        ds = await Util.getDataSetAsync(e);
        loading = false;

        this.StateHasChanged();
    }
}
