
<div class="form-floating mb-3">
     <div class="form-group row">
        <label class="col-4">@Name</label>
        <div class="col-8">
            <InputRadioGroup @bind-Value="@Value" Name="@Name">
                <div class="form-check form-check-inline">
                    <InputRadio class="form-check-input" Value="true"/>
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <InputRadio class="form-check-input" Value="false" />
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
            </InputRadioGroup>
        </div>
    </div>
    @* <label for="sel1" class="form-label">@Name</label> *@
</div>

@code {
    private bool _value;
    private Switch switch1 = default!;

    [Parameter]
    public EventCallback<string> OnChildParameterChanged { get; set; }

    [Parameter] public bool Value
    {
        get
        {
            return this._value; // =="Yes"?"true":"false";
        }
        set
        {

            if (_value == value) return;
                this._value = value;
            OnChildParameterChanged.InvokeAsync(Convert.ToString(value));
        }
    }

    [Parameter] public string Name { get; set; }
}
