
<label for="select1" class="col-4 col-form-label">@Name</label>
<select class="form-select" aria-label="Default select example" @bind="Value" @onblur="OnValueChanged">
    @foreach (var item in Values)
    {
        <option value="@item.Key">@item.Value</option>
    }
</select>

@code {
    [Parameter] public IDictionary<string,string> Values { get; set; }

    private string _value;

    [Parameter]
    public EventCallback<string> OnChildParameterChanged { get; set; }
    [Parameter]
    public EventCallback<string> OnBlur { get; set; }

    [Parameter]
    public string Value
    {
        get
        {
            return this._value;
        }
        set
        {
            if (_value == value) return;

            this._value = value;

            OnChildParameterChanged.InvokeAsync(value);

        }
    }

    private void OnValueChanged(FocusEventArgs args)
    {
        // Handle value change here
        // this.Value = args.Value.ToString();
        Console.WriteLine("OnBlur");

        this.OnBlur.InvokeAsync();
    }

    [Parameter] public string Name { get; set; }
}
