
@using BlazorAppExcel.Models;
@using BlazorAppExcel.Share.Models


@foreach (var item in RowExcel.Cells)
{
    <CellEdit Item="@item" UniqueValues="@UniqueValues(item.Name)"></CellEdit>
}

<div class="float-end">
    <Button Color="ButtonColor.Secondary" @onclick="Cancel">Close</Button>
    <Button Color="ButtonColor.Primary" @onclick="SaveItem">Save changes</Button>
</div>
@code {
    private Modal modal = default!;

    [Parameter] public RowCellExcel RowExcel { get; set; }
    [Parameter] public Action<RowCellExcel> Save { get; set; }
    [Parameter] public Action Cancel { get; set; }
    [Parameter] public TableExcel TableExcel { get; set; }

    public IDictionary<string, string> Values = new Dictionary<string, string>();

    // [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

    }

    private IList<string> UniqueValues(string name)
    {
        if (TableExcel.UniqueValues.ContainsKey(name)){
            TableExcel.UpdateUniqueValues(name);
            return TableExcel.getUniqueValues(name).Select(_ => _.Value).ToList();
        }

        return new List<string>();
    }

    private void SaveItem()
    {
        this.Save(RowExcel);
    }
}
